h1, h2, h3, p, li{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}
main{
  overflow: auto;
  width: 80%;
  margin: auto;
}
  .mainTop{
    text-align: center;
  }
    .mainWrap{
      display: inline-block;
    }
    .mainLeft{
      float: left;
      margin-top: 1em;
      padding-right: 5%;
      width: 35%;
      min-width: 367.5px;
    }
      .descBox .linkBox{
        margin: 10px;
      }
        #brickhack{
          color: #F58A39;
        }
        .descBox h2, .linkBox h2, .descBox p{
          color: #000;
        }
        .linkBox h3{
          color: #000;
          padding-left: 1em;
        }
        .descBox h2:hover, .descBox p:hover{
          color: #616161;
        }
        .descBox ul, .linkBox ul{
          list-style: none;
          padding-left: 0px;
        }
        .descBox li, .linkBox li{
          color: #616161;
          margin-bottom: 1em;
        }
        .linkBox li{
          padding-left: 2em;
        }
        .linkBox li:hover{
          color: #000;
        }
        #floaterLi, .linkBox img{
          display: inline-block;
        }
        .linkBox img{
          transform: translate(0, 6px);
        }
    .mainRight{
      float: right;
      overflow: hidden;
      width: 60%;
      min-width: 630px;
    }
      .imageBox img, #clientImageBox img{
        margin-top: 2em;
        margin-left: 2em;
      }
      #clientImageBox{
        display: inline-block;
        width: 630px;
      }
      #clientImageBox img{
        float: left;
      }
      .imageDesc{
        text-align: center;
        background-color: #FFF;
        opacity: 0.0;
        transform: translate(0px,-75px);
        padding-top: 5px;
        padding-bottom: 15px;
      }
  .mainBottom{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000;
    width: 40%;
  }
